.player{

    background:#f3f5fb;

}

input{

    width:300px;

    font-size:22px;

    padding:15px;

    border-radius:10px;

    border:2px solid #ddd;

}

.answer{

    width:100%;

    margin:10px 0;

    padding:20px;

    font-size:22px;

    border:none;

    border-radius:15px;

    background:#46178f;

    color:white;

    cursor:pointer;

}

.answer:hover{

    background:#5c22b5;

}

.answer:disabled{

    opacity:.5;

}

.questionImage{

    width:100%;

    max-width:650px;

    border-radius:15px;

    margin:20px auto;

    display:block;

}

#progress{

    color:#666;

    font-size:18px;

    margin-bottom:20px;

}