<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Kahoot Reihenfolge</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.6/Sortable.min.js"></script>
</head>
<body>

<div class="container">

    <h1>{{ question }}</h1>

    <ul id="list">
        {% for item in items %}
        <li class="card">{{ item }}</li>
        {% endfor %}
    </ul>

    <button onclick="checkOrder()">
        Antwort prüfen
    </button>

    <div id="result"></div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
